<%- include('../../common/header') %>

<body class="vertical-layout vertical-menu-modern navbar-floating footer-static" data-open="click" data-menu="vertical-menu-modern" data-col="">
  <%- include('../../common/sidebar') %>
  <%- include('../../common/navbar') %>

  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      <div class="content-header row"></div>
      <div class="content-body">

        <div class="row justify-content-center">
          <div class="content-header-left col-md-12 col-12 mb-2">
            <div class="auth-wrapper auth-v1 px-2">
              <div class="auth-inner py-2">
                <div class="card mb-0">
                  <div class="card-body">


                    <a href="/admin/users_listing" class="btn btn-primary">
                      <i class="fas fa-arrow-left-long" style="font-size: 20px"></i>
                    </a>

                    <!-- User Info -->
                    <form class="auth-register-form mt-2">
                      <div class="row">
                        <!-- Name -->
                        <div class="col-md-6 mb-1">
                          <label class="form-label">Name</label>
                          <input type="text" class="form-control" value="<%= data.name ? data.name : 'N/A' %>" disabled />
                        </div>
                        <!-- Email -->
                        <div class="col-md-6 mb-1">
                          <label class="form-label">Email</label>
                          <input type="email" class="form-control" value="<%= data.email ? data.email : 'N/A' %>" disabled />
                        </div>
                      </div>
                    </form>

                    <hr />

                    <!-- User Cards Section -->
                      <h4 class="mt-4 mb-3">User Cards</h4>
                      <% if(userCards && userCards.length > 0) { %>
                        <div class="row">
                          <% userCards.forEach(function(card) { %>
                            <div class="col-md-4 mb-3">
                              <div class="card h-100">
                                <% if(card.imagePath) { %>
                                  <!-- Correct image path -->
                                  <img src="<%= card.imagePath.startsWith('/') ? card.imagePath : '/images/' + card.imagePath %>" 
                                      class="card-img-top img-fluid" 
                                      alt="Card Image" 
                                      style="max-height:200px; object-fit:cover;">
                                <% } %>
                              </div>
                            </div>
                          <% }); %>
                        </div>
                      <% } else { %>
                        <p>No cards found for this user.</p>
                      <% } %>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <%- include('../../common/script') %>
  <script>
    $(window).on("load", function () {
      if (feather) feather.replace({ width: 14, height: 14 });
    });
  </script>
</body>
